<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>neighborhood-common-service</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>neighborhood-common-service</th>
				<th>url</th>
				<th>request</th>
				<th>response</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>上传图片，返回图片url地址</td>
				<td>/common/fileupload</td>
				<td>{"file":username, "filename":"xx"}(使用Formdata)</td>
				<td>{result: "success", filename: "http://xxx/common/xx.jpg"}</td>
			</tr>
		</tbody>
	</table>
</body>
</html>